header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: black;
}


.navbar {
  border-bottom: 3px;
  border-color: green;
  display: flex;
}

.lif {
  display: flex;
}
.listitem a {
  color: blanchedalmond;
  font-size: xx-large;
  padding: 30px;
}

/*man section */

#main {
  margin: 10px;
  border: 3px;
  border-color: aquamarine;
  border-style: double;
  margin-top: 100px;
  border-radius: 10px;
  height: 30rem;
  }

#Question-section{
  display: flex;
  flex-direction: column;
align-items:center;
    
}
#Question-section div{
  display: block;
  padding: 50px;
}

.button{
  padding: 0.8em 3em;
    color: blanchedalmond;
    background: #111;
    border-radius: 25px;
    font-size: medium; 
    border: 8px solid green;  
}


/* quetion for js */

.questionSec{
  margin: 10px;
  border: 3px;
  margin-top: 100px;
  border-radius: 10px;
  height: 30rem;

}
.timerSection{
  padding:20px;
  color: black;
  border-radius: 50px;
  font-size: xx-large; 
  border: 8px solid green;
  display: flex;
  justify-content: center;
   justify-content: space-around;
   margin-top: 50px;
  }
  .qbox{
    display: flex;
    justify-content: center;
    flex-direction: column;
   justify-items: center;
   align-items: center;
   margin-top: 80px;
    
  }

  .options{
    display: flex;
    list-style: none;
  }

  .question{

  font-size: xx-large;
  }

  .options li{
    text-decoration: none;
    padding: 0.8em 3em;
    color: blanchedalmond;
    background: #111;
    border-radius: 25px;
    font-size: medium; 
    border: 8px solid green; 
    margin:10px;

  
  }
  .options li:hover{
    color: black;
    background: green;
    border: 8px solid blanchedalmond; 
    font-weight:bolder;  
  }

 .gameoverBox{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   justify-items: center;
 }
 .gameoverButton{
  padding: 0.8em 3em;
  color: blanchedalmond;
  background: #111;
  border-radius: 25px;
  font-size: medium; 
  border: 8px solid green;  
}
.gameoverButton:hover{
  color: black;
  background: green;
  border: 8px solid blanchedalmond; 
  font-weight:bolder;  
}
.gameoverhead{
font-size: xx-large;
}



footer{
  text-align: center;
}